/* SessionStatisticsSection.css */

.session-table-section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.session-table-section h5 {
  margin-bottom: 10px;
}

.session-table-section table {
  width: 100%;
  border-collapse: collapse;
}

.session-table-section th,
.session-table-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center align table cell content */
  max-width: 30px;
}

.session-table-section th {
  background-color: #f2f2f2;
}

.session-table-section .action-buttons {
  display: flex;
  justify-content: center;
}

.session-table-section .action-buttons button {
  margin-right: 5px;
}
