.password-input-container {
    position: relative;
}

.password-input {
    width: 100%; /* Ensure the input takes the full width */
    padding-right: 40px; /* Space for the eye icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding does not affect the width */
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
